form {
    display: flex;
    flex-direction: column;
}

.botoes {
    margin-right: 195px;
}

button {
    margin-top: 30px;
    margin-right: 5px;
    float: right;
}

.main {
    width: 75%;
    text-align: left;
    margin: auto;
    padding: 10px;
}

table {
    width: 100%;
}

