<app-footer></app-footer>
<app-nav></app-nav>
<div class="main mat-elevation-z8">
  <mat-card-title>
    Pedidos
  </mat-card-title>
    <table mat-table [dataSource]="dataSource">
      <!-- Coluna do ID (Vulgo Cod) -->
      <ng-container matColumnDef="cod">
        <th mat-header-cell *matHeaderCellDef>Cod</th>
        <td mat-cell *matCellDef="let row">{{row.cod}}</td>
      </ng-container>
  
      <!-- Coluna do nome -->
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef>Data Criação</th>
        <td mat-cell *matCellDef="let row">{{row.creationDate | date :'dd/MM/yyyy HH:MM:ss'}}</td>
      </ng-container>
  
      <!-- Coluna do status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row" [ngStyle]="{'color': row.status == 1 ? 'green' : row.status == 2 ? 'cyan' : 'red' }">{{ (row.status == 1 ? 'Ativo' : row.status == 2 ? 'Finalizado' : 'Cancelado') }}</td>
      </ng-container>

      <!-- Coluna da quantidade -->
      <ng-container matColumnDef="productsQuantity">
        <th mat-header-cell *matHeaderCellDef>Quantidade (UN)</th>
        <td mat-cell *matCellDef="let row">{{row.productsQuantity | number : '1.2-2'}}</td>
      </ng-container>


      <!-- Coluna do preço total -->
      <ng-container matColumnDef="totalValue">
        <th mat-header-cell *matHeaderCellDef>Total (R$)</th>
        <td mat-cell *matCellDef="let row">{{row.totalValue | number : '1.2-2'}}</td>
      </ng-container>

      <!-- Coluna do tipo do pedido -->
      <ng-container matColumnDef="flOutput">
        <th mat-header-cell *matHeaderCellDef>Tipo </th>
        <td mat-cell *matCellDef="let row">{{row.flOutput == true ? 'Saída' : 'Entrada' }}</td>
      </ng-container>

      <!-- Coluna de ação -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">

          <!-- Item de edição -->
          <a routerLink="/orders/update/{{ row.cod }}/{{ row.status }}" class="edit" [ngStyle]="{'visibility': row.status == 0 ? 'hidden' : 'visible' }">
            <i class="material-icons"  data-toggle="tooltip" data-placement="top" title="Editar">
              edit
            </i>
          </a>
          
          <!-- Item de exclusão -->
          <a routerLink="/orders/{{ row.cod }}" [ngStyle]="{'visibility': row.status == 2 ? 'hidden' : 'visible' }">
            <i class="material-icons" appRed data-toggle="tooltip" data-placement="top" title="Deletar">
              delete
            </i>
          </a>
        </td>
      </ng-container>
  
      <!-- Algumas definições da table -->
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="paginator"  [pageSize]="5" aria-label="Selecione a página de pedidos"></mat-paginator>
  </div>
  